html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color:rgb(255, 255, 255);
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 微軟正黑體, Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background-color: #ffffff;
}

header.header {
    background-color: #333333;
    width: 100%;
    height: 80px;
    margin: 0;
    border: none;
    overflow: hidden;
    position: fixed; 
    /* top: 0px; */
    /* z-index: 2; */
    display: flex;
    flex-direction: row;
    box-shadow: 7px 4px 10px hsla(240, 24%, 88%, 0.6);
    margin-bottom: 10px;
}


.logo {
    height: 80px;
    flex: 1;
    background-color: none;
    margin: 5px 30px 0 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.logo img{
    height: 70px;
    width: auto;
}

.Breadcrumbs {
    flex: 1;
    height: 80px;
    background-color: none;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.user {
    flex: 1;
    height: 80px;
    background-color: none;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(26, 26, 26);
    font-size: 20px;
}

.user li{
    margin-right: 30px;
}

.user a{
    text-decoration: none;
    color: rgb(255, 251, 251);
}

.user img{
    display: block;
    border: 1px solid white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

header form button {
    /* 圓角 */
    border-radius: 10px;
    border: 1px solid #818181;

    /* 輸入文字色彩設定 */
    color: rgb(41, 41, 41);
    padding: 5px 10px;
}

header form button:focus {
    outline: none;
}




/* =======設定側邊欄位====== */

div.aside-menu {
    width: 20%;
    padding: 110px 0 0;
    float: left;

    /* 消除卷軸 */
    box-sizing: border-box;
    background-color: white;
    display: flex;

    /* 設定成直排 */
    flex-direction: column;

    /* 設定側邊欄陰影 */
    /* box-shadow: 7px 0px 10px hsla(240, 24%, 88%, 0.6); */
    /* hsla: H 為 hue(色相)、S 為 saturation(飽合度)、L 為 lightness(亮度)、A 為不透明度*/
}

div.aside-menu form {
    margin: 0 20px 20px;
    display: flex;
}


ul.menu-name a {
    display: block;
    padding: 10px 30px;
    color: #818181;
    text-decoration: none;
    font-size: 18px
}

/* 處理側邊欄底線 */
ul.menu-name li+li a::before {
    content: '';
    /* 絕對定位，因為有padding */
    position: absolute;
    border-top: 1px solid #a6c7ff;
    left: 10px;
    right: 10px;
    top: 0;
}

/* 只要把任何標籤的class設定成hide，就會套用隱藏css */
.hide {
    display: none;
}

/* 側邊欄點擊才會呈現的欄位 */
ul.hide a {
    padding: 10px 60px;
    font-size: 15px
}

div.main_content {
    width: 100%;
    float: left;

}


.main{
    height: 100%;
    width: 80%;
    float: left;
    background-color: #ffffff;
    padding-top: 120px;
}