<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>test.1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
		<servlet-name>logCheckServlet</servlet-name>
		<servlet-class>logCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logCheckServlet</servlet-name>
		<url-pattern>/logCheckServlet</url-pattern>
	</servlet-mapping>
  <servlet>
  	<servlet-name>MemberServlet</servlet-name>
  	<servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MemberServlet</servlet-name>
  	<url-pattern>/member.html</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PartyServlet</servlet-name>
    <servlet-class>com.party.controller.PartyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartyServlet</servlet-name>
    <url-pattern>/party/party.do</url-pattern>
  </servlet-mapping>
  
</web-app>
