html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background-color: #ffffff;   
    padding: 0 5px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



div.check_out{
    /* height:400px;   */
    /* width: 100%; */
    border-radius: 5px;
    border: 0.5px solid rgb(197, 197, 197);
    box-shadow: 1px 1px 3px rgb(216, 216, 216);
    padding-top: 40px;
    clear: both;
}

div.process_1{
    border: 1px solid black;
    height: 90px;
    width: 240px;
    float: left;
    margin: 0 10px;
    margin-left: 108px;
    background-color: rgb(214, 214, 214);
    text-align: center;
    line-height: 90px;
    font-weight: lighter;
    font-size: 14px;
    position: relative;
}


div.process_2{
    border: 1px solid black;
    height: 90px;
    width: 240px;
    float: left;
    margin: 0 10px;
    text-align: center;
    line-height: 90px;
    font-weight: lighter;
    font-size: 14px;
    position: relative;
}

div.process_3{
    border: 1px solid black;
    height: 90px;
    width: 240px;
    float: left;
    margin: 0 10px;
    text-align: center;
    line-height: 90px;
    font-weight: lighter;
    font-size: 14px;
    position: relative;
    background-color: rgb(214, 214, 214);
}

.fa-check-circle{
    position: absolute;
    left: 10px;
    top:10px;
    font-size: 20px;
    color: rgb(165, 165, 165);
}

.fa-truck-moving{
    position: absolute;
    left: 10px;
    top:10px;
    font-size: 20px;
    color: rgb(165, 165, 165);
}

.fa-edit{
    position: absolute;
    left: 10px;
    top:10px;
    font-size: 20px;
    color: rgb(165, 165, 165);
}

.fa-handshake{
    position: absolute;
    left: 10px;
    top:10px;
    font-size: 20px;
    color: rgb(165, 165, 165);
}

div.check_order{
    margin: 0 20px;
    /* border: 1px solid red; */
    margin-top: 150px;
    padding: 0 20px;
}

div.check_order_title{
    border-bottom: 1px solid black;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    padding-left: 10px;
    font-family: "DomaineDisplay", "NotoSerifTC", "Songti TC", "Noto Serif CJK TC", "Microsoft JhengHei", "Pingfang TC", serif;
    color: rgb(85, 85, 85); 
    margin: 0 -20px;
}

div.form{
    /* border: 1px solid black; */
    margin:20px 0px 0px 100px;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
}

div.form input{
    margin-left: 40px;
    height: 24px;
}

div.form textarea{
    position: absolute;
    bottom: -45px;
    left: 95px;
    height: 60px;
}

div.finish_button{
/*     border: 1px solid red; */
    margin-top: 40px;
    text-align: center;
    margin-bottom: 100px;
}

div.finish_button input{
    width: 100px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 5px;
}

input.back{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0);
}

input.next{
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    color: rgb(255, 255, 255);
}

